*{
    margin: 0;
    padding: 0;
    font-family: 'Powell Antique', sans-serif;
    box-sizing: border-box;
}


body{
    background:#73a9c2 ;
    background-image: url("images/gaming\ tv.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 700px 540px;
    background-position: center;
    background-attachment: fixed;
}

.game{

    background: white;
    width: 90%;
    max-width: 600px;
    margin: 45px auto 0;
    border-radius: 10px;
    padding: 20px;

}

.game h1{
    font-size: 25px;
    color: rgb(74, 0, 114);
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-top: 20px;

}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: rgb(94, 0, 99);
    font-weight: 600;
}

.btn{
    background: white;
    color: #0d004b;
    font-weight: 500;
    width: 100%;
    border: 1px solid #4d0029;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}

.btn:hover:not([disabled]){
    background: #840192 ;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #840192;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: green;
}

.incorrect{
    background:red;
}